.header {
  width: 100%;
  background-color: antiquewhite;
  position: relative;
}
.header ul {
  display: flex;
  list-style: none;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.header ul li {
  padding: 15px;
}
.header ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}